html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f9f9f9;
  font-family: Arial, Helvetica, sans-serif;
}

body.busy-cursor:hover,
body.busy-cursor *:hover {
  cursor: wait;
}

.container {
  text-align: center;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
  z-index: 105;
}

#messages {
  background-color: #fff3d4;
  border-radius: 8px;
  border: #f6b73c 1px solid;
  padding: 10px;
  position: relative;
}

#message {
  color: black;
}

#cross {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.hide {
  display: none;
}

h1.main,
h1.main:visited {
  text-decoration: none;
  color: black;
}

h1.main:hover,
h1.main:visited:hover {
  color: #e96e50;
  cursor: pointer;
}

form {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 0.3em;
  padding: 6px;
  margin-right: 5px;
  border: 2px solid #dddddd;
  outline: none;
  font-size: 1em;
}

input:hover,
input:focus {
  border: 2px solid #e96e50;
}

button {
  padding: 6px 10px;
  font-size: 1em;
  border-radius: 0.3em;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgba(78, 77, 74, 0.8);
  border: 1px solid rgba(78, 77, 74, 0.9);
}

button:hover {
  background-color: #353432;
  border: 1px solid rgba(78, 77, 74, 1);
}

#results {
  max-width: 450px;
  margin: 50px auto;
}

.card {
  border: 1px #dddddd solid;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 5px 5px 7px 0 rgba(221, 221, 221, 1);
  position: relative;
}

.card img {
  filter: drop-shadow(5px 5px 5px rgba(78, 77, 74, 1));
  animation: icon 5s linear infinite;
  position: relative;
  animation-play-state: running;
}

.card:hover img {
  animation-play-state: paused;
}

@keyframes icon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    filter: drop-shadow(5px 5px 5px #f6b73c);
  }
  100% {
    transform: scale(1);
  }
}

big {
  display: block;
}

#minMax {
  color: inherit;
}

p {
  color: #505050;
}

.date {
  display: block;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  opacity: 0.6;
}

.toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 7px;
  margin: 1em 0 1em auto;
  width: 92px;
  cursor: pointer;
}

.unit {
  padding: 5px 15px;
  background-color: rgba(78, 77, 74, 0.8);
  border: 1px solid rgba(78, 77, 74, 0.6);
}

.unit:hover {
  background-color: rgba(78, 77, 74, 1);
}

.unit:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.unit:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.unit.active {
  background-color: #e96e50;
  border: 1px solid #c1593f;
}

.unit.active:hover {
  background-color: #c1593f;
}

#sky {
  position: relative;
  min-height: 100vh;
  background: #c9dbe9;
  background: linear-gradient(#f9f9f9 0%, #c9dbe9 100%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cloud-container {
  position: relative;
  padding: 150px 0 0;
  margin-bottom: -100px;
  z-index: 100;
  overflow: hidden;
}

.cloud {
  width: 200px;
  height: 60px;
  background: #ffffff;
  border-radius: 200px;
  position: relative;
}

.cloud:before,
.cloud:after {
  content: '';
  position: absolute;
  background: #ffffff;
  width: 100px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;
  border-radius: 100px;
  transform: rotate(30deg);
}

.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

.x1 {
  animation: moveclouds 25s linear infinite;
}

.x2 {
  left: 200px;
  transform: scale(0.6);
  opacity: 0.6;
  animation: moveclouds 15s linear infinite;
}

.x3 {
  left: -250px;
  top: -200px;
  transform: scale(0.8);
  opacity: 0.8;
  animation: moveclouds 20s linear infinite;
}

.x4 {
  left: 470px;
  top: -250px;
  transform: scale(0.75);
  opacity: 0.75;
  animation: moveclouds 18s linear infinite;
}

.x5 {
  left: -150px;
  top: -150px;
  transform: scale(0.85);
  opacity: 0.85;
  animation: moveclouds 21s linear infinite;
}

@keyframes moveclouds {
  0% {
    margin-left: calc(100vw + 450px);
  }
  100% {
    margin-left: calc(-100vw - 450px);
  }
}

@media (max-width: 425px) {
  form {
    flex-wrap: wrap;
  }

  input {
    margin: 0 auto 0.8em;
    width: 90%;
  }

  button {
    display: inline-block;
    width: 90%;
    margin: 0 auto;
  }
}
